body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey;
}
header {
    text-align: center;
    color: #505050;
}

#button-div {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: grey;
    margin: 0 auto;
    width: 800px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}


#revenue-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 0 auto;
    width: 850px;
}
  
th {
    background-color: grey;
    color: white;
    text-align: left;
    padding: 8px;
}
  
td {
    text-align: center;
    padding: 8px;
    border: 3px solid #C0C0C0;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}